@import "../../assets/styles/global.scss";
.header {
  .container {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: $B400;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .logo {
      height: 100%;
      cursor: pointer;
    }
    .icon {
      position: absolute;
      right: 2%;
      font-size: 2vw;
      max-height: 30px;
      color: $CL0;
    }
  }
  .nav {
    ul {
      background-color: $CD800;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 40px;
      li {
        margin: 0 5%;
        color: $CL0;
        cursor: pointer;
        display: flex;
        align-items: center;
        opacity: 0.8;
        h3 {
          margin-right: 8px;
        }
        .icon {
          color: $CL0;
        }
        &.active {
          border-bottom-style: solid;
          border-image-source: linear-gradient(
            to right,
            rgba(243, 10, 76, 0) 1%,
            #07e7fe 50%,
            rgba(243, 10, 76, 0) 100%
          );
          border-image-slice: 1;
          opacity: 1;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          cursor: default;
        }
        &:hover {
          opacity: 1;
          transform: scale(1.01);
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .header {
    .container {
      height: 50px;
      .icon {
        right: 4%;
        font-size: 5vw;
      }
    }
  }
}
