@import "../../assets/styles/global.scss";
.ContentSearch {
  .search {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    color: $CD800;
    display: flex;
    align-items: center;
    padding: 1% 2%;
    border-radius: 0.5vw;
    position: relative;
    input {
      width: 91%;
      margin-left: 2%;
      border-radius: 30px;
      padding: 1% 7% 1% 3%;
      font-size: 16px;
      cursor: pointer;
      color: $CD400;
      border: 1px solid $CD800;
      transition: 3ms;
      &::placeholder {
        color: $CD400;
      }
      &:focus {
        transform: scale(1.03);
        transition: 3ms;
        border-color: $CD800;
        background-color: $CL0;
        outline: none;
        color: $CD800;
        font-size: 16px;
      }
    }
    .icon {
      position: absolute;
      right: 5%;
      color: $CD200;
      padding: 1%;
      cursor: pointer;
      transition: 0.5ms;
      &:hover {
        color: $CD400;
        transition: 0.5ms;
        transform: scale(1.5);
      }
    }
  }
  .generalTitle {
    text-align: center;
    margin: 20px 0;
    h3 {
      font-family: Avenir-Heavy, Arial, Helvetica, sans-serif;
    }
  }
  .noResults {
    width: 60%;
    margin: 5vw auto;
    margin-bottom: calc(100vh - 40vw);
    text-align: center;
  }
}
.ContentMovies {
  width: 90%;
  margin: 0 auto 40px;
  .contentCards {
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    grid-gap: 3vw 1.6%;
    gap: 3vw 1.6%;
    grid-template-columns: 22% 22% 22% 22%;
  }
}
@media (max-width: 768px) {
  .ContentMovies {
    .contentCards {
      grid-template-columns: 30% 30% 30%;
    }
  }
}
@media (max-width: 414px) {
  .ContentSearch {
    .search {
      width: 90%;
      input {
        padding-right: 10%;
      }
    }
  }
  .ContentMovies {
    .contentCards {
      grid-gap: 10vw 1.6%;
      gap: 10vw 1.6%;
      grid-template-columns: 100%;
    }
  }
}
