$B100: #e4e9ef;
$B400: #79bcde;
$B600: #0ed5ea;
$B800: #7ba2b5;
$CD100: #c4c4c4;
$CD200: #b0bec5;
$CD400: #78909c;
$CD600: #546e7a;
$CD800: #063b6b;
$CL0: #ffffff;
$R200: #f2a6a6;
/*Fonts*/
@font-face {
  font-family: Avenir-Book;
  src: url("../fonts/Avenir-Book.otf") format("opentype");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("../fonts/Avenir-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Avenir-Black;
  src: url("../fonts/Avenir-Black.otf") format("opentype");
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 100;
  font-family: Avenir-book, Arial, Helvetica, sans-serif;
  color: inherit;
}
body {
  color: $CD800;
}
strong {
  font-family: Avenir-Black, Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.22vw;
}
h2 {
  font-size: 1.8vw;
}
h3 {
  font-size: 1.11vw;
}
h4 {
  font-size: 0.97vw;
}
h5 {
  font-size: 0.83vw;
}
h6 {
  font-size: 0.69vw;
}
@media (min-width: 1441px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 4.16vw;
  }
  h2 {
    font-size: 3.38vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 1.8vw;
  }
  h5 {
    font-size: 1.56vw;
  }
  h6 {
    font-size: 1.3vw;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 7.72vw;
  }
  h2 {
    font-size: 6.28vw;
  }
  h3 {
    font-size: 3.86vw;
  }
  h4 {
    font-size: 3.38vw;
  }
  h5 {
    font-size: 2.89vw;
  }
  h6 {
    font-size: 2.41vw;
  }
}
